@media screen and ($mobile) {
  .component-7 {
    height: 312px;
    
    > div {
      > .logo {
        height: 40px;
        margin-top: 44px;
        margin-left: 60px;
        margin-bottom: 45px;

        > div {
          > img {
            width: 24px;
          }
        }
        > span {
          @include text-styles(32.4px, $white, 0.6px, "Raleway", 100);
          padding-top: 5px;
        }
      }
      > .icon-container {
        width: 210px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8.9px;
        padding-left: 21px;
        margin-bottom: 40px;
        > div {
          width: 40px;
          height: 40px;
          background-color: $icon-container;
          justify-content: center;
          align-items: center;
        }
      }
      > .text-container {
        > span {
          @include text-styles(11px, $white, 0.2px, "Raleway");
          padding-right: 8px;
        }
      }
    }
  }
}
