@media screen and ($mobile) {
  .component-3 {
    justify-content: center;
    height: 799px;
    > div {
      align-items: center;
      > .header {
        margin-bottom: 36px;
        margin-top: 37px;
        > span {
          @include text-styles(27px, $black, normal, "Raleway", bold);

          > span {
            color: $button-color;
          }
        }
        > div {
          align-items: center;
          padding-left: 39px;
          padding-top: 10px;
          > div {
            @include width-height(33px, 1px);
            background-color: $grey;
            margin-right: 10px;
            margin-top: 4px;
          }
          > img {
            margin-right: 6px;
          }
        }
      }
      > .img-and-text {
        align-items: center;
        > .image-placeholder {
          width: 280px;
          height: 207px;
          background-color: $black;
          margin-bottom: 18px;
          >img{
            display: none;
          }
        }
        > .text-container {
          width: 288px;
          > button {
            width: 138px;
            height: 42px;
            font-size: 13px;
            font-family: "Raleway";
            margin-left: 4px;
            margin-top: 40px;
            border: none;
            background-color: $button-color;
            color: $white;
            padding-right: 2px;
          }
          >.grid-container{
            display: none;
          }
          > p:first-of-type {
            @include text-styles(16px, $black, -0.2px, "Raleway");
            margin-bottom: 10px;
            padding-left: 2px;
          }
          > hr {
            margin-bottom: 10px;
          }
          >p:nth-of-type(2){
            display: none;
          }
          > p:nth-of-type(3) {
            @include text-styles(13px, $charcoal-gray, normal, "Open Sans");
            padding-left: 4px;
            line-height: 23px;
            margin-bottom: 31px;
          }
          > .list {
            .check-icons {
              padding-left: 4px;
              padding-top: 6px;
              row-gap: 45.1px;
            }
            > .list-text {
              padding-left: 15px;
              row-gap: 18px;
              >p:nth-child(odd){
                display: none
              }
              > p {
                @include text-styles(13px, $charcoal-gray, normal, "Open Sans");
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
