@media screen and ($desktop) {
  .component-1 {
    height: 102.4px;
    

    align-items: center;
    > div {
      align-items: center;
      column-gap: 40px;
      width: 1164px;

      > .image-placeholder {
        > span {
          @include text-styles(36px, $white, 0.3px, "Raleway");
          width: 130px;
        }

        > div {
          display: none;
        }
      }
      > a:first-of-type {
        margin-left: 22.4%;
      }
      > a {
        @include text-styles(14px, $white, normal, "Open Sans");
        text-decoration: none;
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1186px) {
  .component-1 {
    > div {
      column-gap: 30px;
      > .image-placeholder {
        margin-left: 30px;
      }
      > a:first-of-type {
        margin-left: 15%;
      }
    }
  }
}
