@media screen and ($desktop) {
  .component-1 {
    height: 102.4px;
    width: 100%;
    > div:first-child {
      width: 61%;
      
      > .image-placeholder {

        align-items: center;
        @include text-styles(36px, $white, 0.3px, "Raleway");
        margin-right: 19.8%;
        >span{
          width: 200px;
        }
        > div {
          display: none;
        }
      }
      > .link-container {
        column-gap: 8.7%;
        padding-bottom: 1px;
        > a {
          @include text-styles(14px, $white, normal, "Open Sans");
          text-decoration: none;
        }
      }
    }
  }
}
