@media screen and ($tablet) {
  .component-5 {
    justify-content: center;
    height: 720px;

    > div {
      align-items: center;

      > .header {
        margin-bottom: 57px;
        margin-top: 73px;

        > span {
          @include text-styles(29px, $black, normal, "Raleway", bold);
        }
        > div {
          align-items: center;
          padding-left: 31px;
          padding-top: 11px;
          > div {
            @include width-height(35px, 1px);
            background-color: $grey;
            margin-right: 9px;
            margin-top: 2px;
          }
          > img {
            margin-right: 9px;
          }
        }
      }
      > .grid-container {
        display: grid;
        margin-right: 2px;
        grid-template-rows: repeat(2, 229px);
        grid-template-columns: repeat(3, 225px);
        gap: 21.2px;
        > div {
          background-color: $black;
          &:hover {
            > div:first-child {
              display: flex;
              > .icon-container {
                > div:hover {
                  background-color: inherit;
                  border: 2px solid $button-color;
                }
              }
            }
            > .text-container {
              display: flex;
            }
          }
          > div:first-child {
            display: none;
            height: 171px;
            justify-content: center;
            align-items: center;
            background-color: $grey3;
            .icon-container {
              gap: 8.5px;
              padding-right: 6px;
              padding-top: 26px;
              > div {
                width: 37px;
                height: 37px;
                border-radius: 50%;
                background-color: $button-color;
                justify-content: center;
                align-items: center;
              }
              > div:nth-child(odd) {
                display: none;
              }
            }
          }
          > .text-container {
            display: none;
            height: 54px;
            background-color: $black;
            justify-content: center;
            align-items: center;
            > div {
              text-align: center;
              > p:first-of-type {
                @include text-styles(12px, $white, normal, "Raleway", bold);
                padding-top: 7px;
              }
              > p:last-of-type {
                @include text-styles(11px, $button-color, -0.4px, "Raleway");
                font-style: italic;
                padding-left: 2px;
                margin-top: 6px;
              }
            }
          }
        }
      }
    }
  }
}
