@media screen and ($desktop) {
  .component-2 {
    background-color: $bg-color-darkgray;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 758px;
    > div {
      height: 259px;
      > .text-container {
        text-align: center;
        align-items: center;
        > span:first-of-type {
          @include text-styles(62px, $white, normal, "Raleway", 100);
          line-height: 50px;
          padding-left: 15px;
        }
        > span:nth-of-type(2) {
          @include text-styles(71.7px, $white, -2px, "Montserrat");
          padding-left: 10px;
          margin-bottom: 11px;
        }
        > span:last-of-type {
          @include text-styles(20px, $white, -0.2px, "Raleway");
          width: 860px;
          margin-bottom: 36px;
          padding-left: 15px;
        }
        > div {
          @include button(144px, 44px, 0px, 22px);

          > button {
            @include inisde-button(138px, 38px, 13px);
          }
        }
      }
    }
  }
}
