$bg-color-black:#0E0E0E;
$bg-color-darkgray:#292929;
$button-color:#3AB6B2;
$white:#ffffff;
$icon-container:#252525;
$black:#0E0E0E;
$grey:#D3D3D3;
$charcoal-gray:#525252;
$dark-gray:#3B3B3B;
$gray2:#6A6A6A;
$grey3:#292929;
$border-color:#D4D4D4;
$bg-color-lightdark:#111111;